:root {
  --main-color: #9ffcf5;
}

body {
  animation: bg-anim 11s ease infinite;
  background-image: linear-gradient(-45deg, #9aeefc, #18367e, #196575, #5b8893);
  background-size: 400% 400%;
  max-width: 700px;
  margin: 0 auto;
}

@keyframes bg-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 159, 191);
}
a:hover {
  color: rgb(127, 105, 173);
}
li::first-letter {
  text-transform: capitalize;
}

.main-box,
.background-images {
  width: 600px;
  height: 666px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  padding: 25px;
  background-image: url("./media/bg/big-moon.jpg"),
    url("./media/bg/moon-evening.png"),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto 800px;
  background-position: center center;
}

@media (max-width: 800px) {
  body {
    font-size: 20px;
  }
  .main-box {
    width: 100%;
    height: 100%;
    margin: -10px auto;
  }
}
