.my-image {
  width: 50px;
  border-radius: 50%;
  max-width: 600px;
  margin: 25px auto;
  display: block;
  text-align: center;
}
.coded-by {
  display: block;
  text-align: center;
  font-size: 12px;
  max-width: 100%;
  margin: 25px auto;
}
