.inner-input {
  background-color: #f0fbff;
  border-color: #6c96bc;
  min-width: 75%;
}

.search-button {
  color: #081620;
  border-color: #8bb0c0;
  background-color: #88f9ea;
  transition: all 150ms solid;
}
.search-button:focus {
  background-color: #d6f4d9;
  color: #38729f;
  border-color: #8bb0c0;
}
.search-button:hover {
  background: #347474;
  color: #ebf3f9;
  transition: all 150ms solid;
}

.current {
  background: #1fc0a5;
  border-style: none;
  transition: all 150ms solid;
}
.current:focus {
  background-color: #d6f4d9;
  color: #38729f;
}
.current:hover {
  transition: all 150ms solid;
  background: #347474;
  color: #ebf3f9;
}
.searchWeather {
  color: #f0fbff;
  margin-bottom: -30px;
}
.weather-details {
  font-weight: bold;
  color: rgb(216, 255, 119);
}

.tab {
  background-color: rgba(4, 43, 58, 0.5);
  border-radius: 40%;
  padding: 0 5%;
  margin: auto;
}

.icon {
  width: 91px;
  height: 91px;
}
.currentTemp {
  font-size: 50px;
  color: #1f5e8f;
  font-weight: bolder;
}
.units {
  position: relative;
  top: -7px;
  left: -11px;
  color: #1f5e8f;
}

@media (max-width: 800px) {
  .searchWeather {
    margin-bottom: 40px;
  }
  .tab {
    padding: 0 8%;
    margin: -35px auto;
  }
  .weather-details {
    font-weight: bold;
  }
}
