.WeatherForecast {
  text-align: center;
  color: bisque;
}
.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}
.icon-sm {
  width: 51px;
  height: 51px;
}
.tab-forecast {
  background-color: rgba(4, 43, 58, 0.776);
  border-radius: 40%;
}
@media (max-width: 900px) {
  .WeatherForecast-temp {
    font-size: smaller;
  }
  .WeatherForecast-temp-min {
    margin-left: 2px;
  }
  .icon-sm {
    width: 35px;
    height: 35px;
  }
  .tab-forecast {
    font-size: 10px;
  }
}
